@import "../../variables.scss";
.cart {
  position: relative;
  grid-column: 3/4;
  display: grid;
  justify-content: end;
  align-content: center;
  fill: $secondary-color-1;
  svg {
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      fill: $secondary-color-2;
    }
  }
  .articles {
    position: absolute;
    top: 2.3rem;
    right: 0rem;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;

    font-size: 1rem;
    text-align: center;
    background-color: $secondary-color-4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
