@import "../variables.scss";
@import "../mixins.scss";
.container {
  background-color: $primary-color-3;
  color: $secondary-color-2;
  margin: 5rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  line-height: 3rem;
  @include media-query(tab-small) {
    margin: 1rem;
  }
}
.description {
  margin-bottom: 5rem;
  line-height: 5rem;
  text-align: center;
  @include media-query(phone) {
  }
}
.hoursTitle {
  text-align: center;
}
.hoursList {
  list-style: none;
}
.map_section {
  height: 60rem;
  width: 70%;
  @include media-query(tab-small) {
    width: 80%;
    height: 40rem;
  }
  @include media-query(phone) {
    height: 35rem;
    width: 90%;
  }
}
.map {
  height: 100%;
  width: 100%;
  z-index: 0;
}
:global(.leaflet-popup .leaflet-popup-content-wrapper) {
  background-color: $secondary-color-2;
  border-radius: 5px;
  padding-right: 0.5rem;
}

:global(.leaflet-popup .leaflet-popup-content a) {
  font-size: 1.6rem;
  text-decoration: none;
  color: $blue-navy;
}

:global(.leaflet-popup .leaflet-popup-tip) {
  background-color: $secondary-color-2;
}

:global(.leaflet-popup-close-button span) {
  font-size: 2rem;
  color: $blue-navy;
}
