@import "../variables.scss";
@import "../mixins.scss";
.container {
  background-color: $primary-color-3;
}
.header {
  padding: 7rem 10rem;
  color: #fff;
  @include media-query(tab-small) {
    padding: 7rem 4rem;
  }
  @include media-query(phone) {
    padding: 3rem 1rem;
  }
  & h1 {
    font-size: 3.5rem;
    padding-bottom: 3rem;
    text-align: center;
  }
  & h3 {
    font-size: 2.7rem;
    font-style: italic;
  }
}

.main {
}
.intro {
  padding-bottom: 5rem;
  color: #fff;

  &_cottura {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    gap: 4rem;
    @include media-query(tab-small) {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      gap: 3rem;
      margin: 2rem 1rem;
    }

    &_img {
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
      height: auto;
    }

    &_caption {
      align-self: center;
      font-size: 2rem;
      margin-top: 1rem;
      text-align: center;
      @include media-query(tab-small) {
        font-size: 1.8rem;
      }
    }
  }
}

.comments {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 8rem;
  justify-content: center;
  align-items: start;
  background-image: linear-gradient(
      rgba($primary-color-3, 0.85),
      rgba($primary-color-3, 0.85)
    ),
    url("../public/assets/pizza-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @include media-query(tab-small) {
    padding: 5rem 1rem;
    gap: 4rem;
  }
  &_text {
    border-radius: 7px;
    font-size: 2rem;
    padding: 2rem;
    color: #fff;
    background-color: rgba($primary-color-2, 0.2);
    text-align: center;
    @include media-query(tab-small) {
      padding: 5rem 1rem;
    }
  }
}
.h2 {
  padding: 8rem 5rem;
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  @include media-query(tab-small) {
    padding: 5rem 1rem;
  }
}
