@import "../variables.scss";
@import "../mixins.scss";
.container {
  background-color: $primary-color-3;
  &.minHeight {
    height: 65rem;
  }
}
.hidden {
  visibility: hidden;
  height: 0;
}
.intro {
  & h1 {
    font-size: 3.5rem;
    text-align: center;
    padding: 3rem 0;
    color: $secondary-color-2;
  }
}
.promo {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_post {
    background-color: $secondary-color-2;
    width: 50rem;
    margin: 5rem;
    padding: 3rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3rem;

    @include media-query(tab-small) {
      width: 40rem;
      margin: 5rem 1rem;
    }
    @include media-query(phone) {
      width: 30rem;
      margin: 5rem 1rem;
    }
    @include media-query(phone-small) {
      width: 25rem;
      margin: 5rem 1rem;
    }

    &:not(:last-child) {
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        color: $blue-navy;
      }
      @include media-query(no-hover) {
        &:hover {
          transform: none;
          color: inherit;
        }
      }
    }

    &_title {
      grid-column: 1/ 2;
      text-transform: uppercase;
      font-size: 3.5rem;
      text-align: center;
    }
    &_subtitle {
      grid-column: 1/2;
      text-align: center;
      font-size: 2.3rem;
    }
    &_menu {
      grid-column: 1 / 2;
      font-size: 2.2rem;
      * {
        padding: 1rem;
      }
    }
    &_price {
      grid-column: 1 /2;
      font-size: 3.5rem;
      * {
        padding: 1rem;
      }
    }
  }
}
