@import "../variables.scss";
.container {
  padding: 10rem;
  height: 70vh;
  background-color: $primary-color-3;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  grid-template-rows: 40rem;
  align-content: center;
  justify-content: center;
  gap: 10rem;
}
.menu_free {
  background-color: $secondary-color-2;
  border-radius: 5px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  transition: all 0.3s;

  cursor: pointer;

  & h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  & p {
    font-size: 2rem;
  }
  &:hover {
    transform: scale(1.2);
    color: $blue-navy;
    fill: $blue-navy;
  }
}
.offerte {
  background-color: $secondary-color-2;
  border-radius: 5px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  transition: all 0.3s;

  cursor: pointer;
  & h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  & p {
    font-size: 2rem;
  }
  &:hover {
    transform: scale(1.2);
    color: $blue-navy;
    fill: $blue-navy;
  }
}
