@import "../variables.scss";
.container {
  padding: 10rem;
  background-color: $primary-color-3;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  align-content: center;
  justify-content: center;
  gap: 10rem;
}
.menu_free {
  height: 40rem;
  background-color: $secondary-color-2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  cursor: pointer;

  & h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 6rem;
  }
  & p {
    text-align: center;
    font-size: 2rem;
  }
  &:hover {
    transform: scale(1.2);
  }
}
.offerte {
  height: 40rem;
  background-color: $secondary-color-2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  cursor: pointer;
  & h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 6rem;
  }
  & p {
    text-align: center;
    font-size: 2rem;
  }
  &:hover {
    transform: scale(1.2);
  }
}
