@import "../variables.scss";
@import "../mixins.scss";
.container {
  padding: 10rem;
  background-color: $primary-color-3;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  align-content: center;
  justify-content: center;
  gap: 10rem;
  @include media-query(tab-small) {
    padding: 5rem;
    gap: 5rem;
  }
}
.menu_free {
  height: 40rem;
  background-color: $secondary-color-2;
  border-radius: 5px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  transition: all 0.3s;
  cursor: pointer;
  @include media-query(tab-small) {
    height: 20rem;
  }
  & h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  & p {
    font-size: 2rem;
  }
  &:hover {
    transform: scale(1.2);
    color: $blue-navy;
    fill: $blue-navy;
  }
  @include media-query(no-hover) {
    &:hover {
      transform: none;
      color: inherit;
      fill: inherit;
    }
  }
}
.offerte {
  height: 40rem;
  background-color: $secondary-color-2;
  border-radius: 5px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  transition: all 0.3s;
  cursor: pointer;
  @include media-query(tab-small) {
    height: 20rem;
  }
  & h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  & p {
    font-size: 2rem;
  }
  &:hover {
    transform: scale(1.2);
    color: $blue-navy;
    fill: $blue-navy;
  }
  @include media-query(no-hover) {
    &:hover {
      transform: none;
      color: inherit;
      fill: inherit;
    }
  }
}
