@import "../../variables.scss";
@import "../../mixins.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: max-height 0.3s ease-in-out;
  pointer-events: auto;
  // Menu nascosto di default su mobile
  @include media-query(tab-land) {
    display: block;
    position: absolute;
    top: calc(100% - 8rem);
    width: 100%;
    background-color: $primary-color-4;
    overflow: hidden;
    max-height: 0;
    z-index: 100;
    padding: 0 1.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); // Ombra per profondità
    border-radius: 0 0 1rem 1rem; // Arrotonda angoli in basso
  }

  &__list {
    display: flex;
    align-items: center;
    font-size: 1.8rem;

    @include media-query(tab-land) {
      flex-direction: column;
      align-items: center;
      padding: 5rem 0 0 0;
    }

    &_items {
      margin-right: 4rem;
      list-style: none;

      @include media-query(tab-land) {
        margin: 2rem 0;
        width: 100%;
        text-align: center;
      }

      a {
        display: block;
        color: $secondary-color-1;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        font-weight: 600;
        position: relative;
        transition: all 0.3s ease;
        padding: 1rem 0;

        &:hover {
          color: $secondary-color-5;
          transform: scale(1.05);
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background-color: $secondary-color-5;
          height: 2px;
          width: 0;
          transition: width 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  // Quando il menu è aperto
  &.open {
    @include media-query(tab-land) {
      max-height: 600px;
      transition: max-height 0.3s ease-in-out;
    }
  }
}
