@import "../variables.scss";
@import "../mixins.scss";
.cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 40rem;
  background-color: $primary-color-3;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: all 0.3s ease;
  z-index: 10;
  border-left: 2px solid $secondary-color-2;
  color: $secondary-color-2;
  overflow-y: scroll;
  pointer-events: auto;
  // @include media-query(phone) {
  //   width: 100%;
  // }
  &.open {
    transform: translateX(0);
  }

  &_content {
    &_title {
      text-align: center;
      padding: 2rem;
      font-size: 2.2rem;
      text-transform: uppercase;
      border-bottom: 1px solid $secondary-color-2;
    }
    &_empty {
      font-size: 2rem;
      padding: 5rem;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &_order {
    font-size: 1.6rem;
    @include media-query(phone) {
      font-size: 2.2rem;
    }
    &_item {
      padding: 3rem 2rem;
      position: relative;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_remove {
        background-color: $secondary-color-2;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        cursor: pointer;
        color: $primary-color-3;
        font-size: 2rem;
        padding: 0.3rem 0.6rem;
      }
      &_menu_selected {
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
      }
    }
    &_total {
      border-top: 1px solid $secondary-color-2;
      border-bottom: 1px solid $secondary-color-2;
      padding: 2rem;
      font-size: 1.8rem;
      text-transform: uppercase;
      text-align: center;
      @include media-query(phone) {
        font-size: 2rem;
      }
    }
    &_buy {
      display: block;
      border-radius: 10px;
      border: none;
      background-color: $secondary-color-2;
      font-size: 2.5rem;
      margin: 3rem auto;
      color: $primary-color-3;
      cursor: pointer;
      @include media-query(phone) {
        font-size: 3rem;
      }
    }
  }
}

.close_button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color: $secondary-color-2;
}
.select {
  margin-left: 1rem;
  border-radius: 5px;
  border: 1px solid $secondary-color-2;
  background-color: $primary-color-3;

  color: $secondary-color-2;
}
.btn_quantity {
  border-radius: 5px;
  font-size: 2rem;
  padding: 0.3rem 0.6rem;
  background-color: $secondary-color-2;
  cursor: pointer;
  margin: 0 0.5rem;
  font-weight: 700;
  color: $primary-color-3;
  border: none;
}
