@import "../variables.scss";
.orderContainer {
  height: 20rem;
  width: 40rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $secondary-color-2;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  pointer-events: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.closeButton {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 3.3rem;
  cursor: pointer;
  color: $primary-color-3;
  &:hover {
    transform: scale(1.1);
    color: $primary-color-4;
  }
}

.select {
  margin-left: 1rem;
  border-radius: 5px;
  border: 1px solid $secondary-color-2;
  background-color: $primary-color-3;

  color: $secondary-color-2;
}

.price {
  margin: 10px 0;
}

.addToCartButton {
  background-color: $primary-color-3;
  color: $secondary-color-2;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
}
