@import "../../variables.scss";
@import "../../mixins.scss";
.footer {
  display: grid;
  grid-template-rows: 4rem auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 2rem 5rem;
  row-gap: 5rem;
  background-color: $primary-color-4;
  color: #fff;
  font-size: 1.6rem;
  @include media-query(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    row-gap: 1rem;
  }
}

.company_logo {
  grid-row: 2/3;
  grid-column: 1/4;
  align-self: center;
  @include media-query(phone) {
    grid-row: 2;
  }
  img {
    height: 4rem;
  }
}
.copyright {
  grid-row: 2/3;
  grid-column: 2/4;
  padding: 1rem;
  text-align: center;
  @include media-query(phone) {
    grid-row: 3;
    grid-column: 1/4;
  }
}
