@import "../../variables.scss";
.footer {
  display: grid;
  grid-template-rows: 4rem 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 2rem 15rem;
  row-gap: 3rem;
  background-color: $primary-color-4;
  color: #fff;
  font-size: 1.6rem;
}

.company_logo {
  grid-row: 2/3;
  grid-column: 1/2;
  img {
    height: 100%;
  }
}
.copyright {
  grid-row: 2/3;
  grid-column: 3/4;
  align-self: center;
}
