@import "./variables.scss";
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@import "./mixins.scss";
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  padding-top: 13rem; //sotto header fisso
  background-color: $primary-color-3;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
  @include media-query(phone) {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
