$primary-color-1: #f0f0f0;
$primary-color-2: #a9a9a9;
$primary-color-3: #404040;
$primary-color-4: #2b2b2b;
$primary-color-5: #1d1d1d;

$secondary-color-1: #fff9cc;
$secondary-color-2: #fff399;
$secondary-color-3: #ffec66;
$secondary-color-4: #ffe033;
$secondary-color-5: #ffd700;
